
{
    "parserOptions": {
      "ecmaVersion": 2015,
      "sourceType": "module"
    },
    "extends": [
      "eslint:recommended",
      "plugin:prettier/recommended"
    ],
    "rules": {
      "prettier/prettier": [
        "error",
        {
          "singleQuote": true,
          "trailingComma": "es5"
        }
      ]
    },
    "globals": {
        "Chart": false
    }
}
  